@model Food.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<style>
    .block-bg-login {
        position: absolute;
        filter: blur(10px);
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<img class="block-bg-login" src="~/Content/images/photo-1490818387583-1baba5e638af.jpg" />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 m-auto" style="height:100vh;display:table">
            <div class="bs-component" style="display: table-cell;vertical-align: middle;">
                <div class="list-group" style="box-shadow: 0 0 8px black;">
                    <div class="list-group-item list-group-item-action flex-column align-items-start active">
                        <h3 class="text-center" style="color:#FFF"> Account Login </h3>
                    </div>
                    <form method="post">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" value="" placeholder="Username" class="form-control" name="Username"/>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" value="" placeholder="Password" class="form-control" name="Password" />
                            </div>
                            <div class="form-group">
                                <label style="color:transparent">.</label>
                                <button class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group">
                                <hr />
                            </div>
                            <div class="form-group text-center">
                                <a href="/account/register" class="btn btn-link">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>